@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --theme-palette-color-border: #ff00ff;
    --theme-palette-color-navbar: #af3faf;
    --theme-palette-color-box-shadow: #7c038d;
    --theme-palette-color-font: #ffffff;
    --theme-palette-color-1: #c9c8ca;
    --theme-palette-color-header-background: linear-gradient(90deg, rgba(20, 20, 23, 0.9114496140252977) 0%, rgba(70, 74, 75, 1) 100%);
    --theme-palette-color-7: #1f1e1f;
    --theme-palette-color-8: #141214;
    --theme-palette-color-9: rgba(135, 135, 135, 0.07);
    --familyFont: 'DM Sans', sans-serif !important;
    --main-color: linear-gradient(to top, #ff00ff, #ff66cc, #ff3399, #ff0066, #cc00cc);
}

body {
    border-color: var(--theme-palette-color-border);
    -webkit-box-shadow: inset 0px 3px 156px -70px var(--theme-palette-color-box-shadow);
    -moz-box-shadow: inset 0px 3px 156px -70px var(--theme-palette-color-box-shadow);
    box-shadow: inset 0px 3px 156px -70px var(--theme-palette-color-box-shadow);
    border-width: 4px;
    border-style: solid;
    padding-top: 25px;
    font-family: var(--familyFont);
}

#headermain {
    background: var(--theme-palette-color-9);
    border-color: var(--theme-palette-color-border);
    -webkit-box-shadow: -1px 6px 5px 8px var(--theme-palette-color-box-shadow);
    -moz-box-shadow: -1px 6px 5px 8px 12pxvar(--theme-palette-color-box-shadow);
    box-shadow: -1px 6px 5px 8px var(--theme-palette-color-box-shadow);
    border-width: 4px;
    border-style: solid;
    padding-top: 10px;
    margin-bottom: 40px;
    border-radius: 20px;
    color: white;
    padding-bottom: 10px;
}

#spanheader {
    font-size: 30px;
}

#imgLogotipo01 {
    width:50px;
    height:50px;
}

#imgUser {
    width:50px;
    height:50px;
}

#bannerid {
    width: 100%;
    height: 155px;
    max-width: 100%;
    border-radius: 10px;
    border-color: var(--theme-palette-color-border);
    -webkit-box-shadow: -1px 6px 5px 8px white;
    -moz-box-shadow: -1px 6px 5px 8px 12px white;
    box-shadow: -1px 6px 5px 8px white;
    border-width: 4px;
    border-style: solid;
}

#divbannerid {
    width: 95%;
    max-width: 95%;
}

iframe.mapa {
    width: 100%;
    max-width: 100%;
    height: 250px;
    box-sizing: border-box;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: var(--theme-palette-color-border);
    -webkit-box-shadow: -1px 0px 5px 7px var(--theme-palette-color-box-shadow);
    -moz-box-shadow: -1px 0px 5px 7px 12px var(--theme-palette-color-box-shadow);
    box-shadow: -1px 0px 5px 7px var(--theme-palette-color-box-shadow);
}

.parrafo {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    text-align: justify;
}

#correo {
    font-size: 15px;
}

@media(max-width: 100px) {
    #bannerid {
        height: 135px;
    }
}

@media(max-width: 700px) {
    .parrafo {
        font-size: 20px;
    }

    #correo {
        font-size: 15px;
    }

    #bannerid {
        height: 125px;
    }
}

@media (max-width: 480px) {
    #spanheader {
        font-size: 22px;
    }

    #imgLogotipo01 {
        width:40px;
        height:40px;
    }

    #imgUser {
        width:40px;
        height:40px;
    }
}

@media (max-width: 400px) {
    #spanheader {
        font-size: 15px;
    }

    #imgLogotipo01 {
        width:37px;
        height:37px;
    }

    #imgUser {
        width:37px;
        height:37px;
    }
}

@media(max-width: 370px) {
    .parrafo {
        font-size: 12px;
    }

    #correo {
        font-size: 8px;
    }

    #bannerid {
        height: 115px;
    }
}

.boxsizing {
    box-sizing: border-box;
}

footer {
    background: var(--theme-palette-color-navbar);
    margin-bottom: 0px;
    box-sizing: border-box;
    padding: 0 20px;
    -webkit-box-shadow: 1px -14px 35px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -14px 35px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 1px -14px 35px -3px rgba(0, 0, 0, 0.75);
}

/*AQUÍ TERMINA ESTILOS DE HEADER y FOOTER.*/


#container_main_div {
    background: var(--main-color);
    border-radius: 20px;
    border-width: 4px;
    border-style: solid;
    box-sizing: border-box;
    border-color: white;
    -webkit-box-shadow: -2px 0px 24px 7px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: -2px 0px 24px 7px rgba(255, 255, 255, 0.75);
    box-shadow: -2px 0px 24px 7px rgba(255, 255, 255, 0.75);
    width: 70%;
    max-width: 70%;
    margin: 40px auto;
}

* {
    font-family: var(--familyFont);
}